@import "tailwindcss";

:root {
    --white-color: #FDFDFD;
    --primary-1: hsl(191, 100%, 64%);
    --primary-2: #4FFFDF;
    --primary-3: #303030;
    --secondary-1: #4E4E4E;
    --secondary-2: #DEDEDE;
    --secondary-3: #F4F4F4;
    --secondary-4: #F9F9F9;
    --line-color: #C1C1C1;
}

@theme {
    --breakpoint-3xl: 137rem;
}

header {
    @apply text-[#303030];
}

section {
    @apply px-8 sm:px-16 lg:px-28 xl:px-48 2xl:px-56 3xl:px-96 pt-14 md:pt-16 lg:pt-24 3xl:pt-48;
}

section.more-top-space {
    @apply mt-8 md:mt-12 xl:mt-16 2xl:mt-20 3xl:mt-36;
}

h1 {
    @apply text-3xl md:text-[2.6rem] 2xl:text-5xl 3xl:text-8xl font-semibold 2xl:leading-tight 3xl:leading-normal text-[#303030];
}

h2 {
    @apply mb-5 2xl:mb-16 3xl:mb-20 text-2xl lg:text-3xl 3xl:text-[5rem] font-semibold text-[#303030];
}

h3 {
    @apply text-lg md:text-2xl 3xl:text-7xl font-bold;
}

h4 {
    @apply text-lg lg:text-xl 3xl:text-4xl mb-1 3xl:mb-5 text-[#303030] font-medium;
}

p {
    @apply leading-5 lg:leading-6 3xl:leading-9 text-xs md:text-sm 2xl:text-base 3xl:text-xl;
}

.hidden-down {
    @apply rounded-lg px-8 md:px-4 lg:px-8 2xl:px-14 3xl:p-28 py-9 md:py-6 lg:py-9 2xl:py-16 transition-all duration-500 opacity-0;
}

.cores-features-card {
    @apply border-t border-r border-white;
}
