:root {
    --unset-margin-right: -120px;
    --unset-header-height: -103px;
    --line: 1px solid rgba(193, 193, 193, 1);
}

#heading {
    grid-template-columns: 55% 45%;
}

#heading button {
    padding: 14px 39px;
}

#heading .p-relative img {
    z-index: -1;    
}

#heading .p-relative #pattern {
    width: 180%;
    left: -200px;
    top: -65px;
}

#heading .p-relative #g-2457 {
    top: 25px;
    left: -75px;
}

#heading .p-relative #g-2456 {
    top: 280px;
    left: 520px;
}

#heading .p-relative #e-276 {
    top: 510px;
    left: -75px;
}

#heading .p-relative #e-277 {
    top: 40px;
    right: -85px;
}

#heading .p-relative #p-17 {
    top: 35px;
    left: 400px;
}

#heading .p-relative #p-18 {
    top: 540px;
    left: 489px;
}

#heading .p-relative #bg-heading {
    width: 150%;
    right: var(--unset-margin-right);
    top: var(--unset-header-height);
}

#heading .p-relative #img-1 {
    width: 80%;
    left: -70px;
}

#heading .p-relative #img-2 {
    width: 75%;
    left: 30px;
    top: 190px;
}

#heading .p-relative #img-3 {
    width: 65%;
    left: 305px;
    top: 160px;
}

#heading .p-relative #img-4 {
    width: 65%;
    left: 280px;
}

#heading .p-relative #img-5 {
    width: 85%;
    left: 180px;
    top: 430px;
}

#heading #five-stars {
    border-top: var(--line);
}

#heading #five-stars div {
    border-left: var(--line) ;
}

.text-capitalize {
    text-transform: capitalize;
}