:root {
    --unset-margin-right: -120px;
    --unset-header-height: -103px;
    --line: 1px solid rgba(193, 193, 193, 1);
    --primary: rgba(244, 244, 244, 0.93);

}

#heading {
    grid-template-columns: 55% 45%;
    border-bottom: var(--line);
}

#heading button {
    padding: 14px 39px;
}

#heading .p-relative img {
    z-index: -1;    
}

#heading .p-relative #pattern {
    width: 180%;
    left: -200px;
    top: -65px;
}

#heading .p-relative #g-2457 {
    top: 25px;
    left: -75px;
}

#heading .p-relative #g-2456 {
    top: 280px;
    left: 520px;
}

#heading .p-relative #e-276 {
    top: 510px;
    left: -75px;
}

#heading .p-relative #e-277 {
    top: 40px;
    right: -85px;
}

#heading .p-relative #p-17 {
    top: 35px;
    left: 400px;
}

#heading .p-relative #p-18 {
    top: 540px;
    left: 489px;
}

#heading .p-relative #bg-heading {
    width: 150%;
    right: var(--unset-margin-right);
    top: var(--unset-header-height);
}

#heading .p-relative #img-1 {
    width: 80%;
    left: -70px;
}

#heading .p-relative #img-2 {
    width: 75%;
    left: 30px;
    top: 190px;
}

#heading .p-relative #img-3 {
    width: 65%;
    left: 305px;
    top: 160px;
}

#heading .p-relative #img-4 {
    width: 65%;
    left: 280px;
}

#heading .p-relative #img-5 {
    width: 85%;
    left: 180px;
    top: 430px;
}

#heading #five-stars {
    border-top: var(--line);
}

#heading #five-stars div {
    border-left: var(--line) ;
}

#features {
    grid-template-rows: auto auto;
    grid-row-gap: 56px;
}

#features > div:nth-child(2) {
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
}

#features > div:nth-child(2) div:nth-child(3) {
    padding: 36px 43px;
}

#features > div:nth-child(2) div:nth-child(1) {
    padding: 50px 47px;
}

#features > div:nth-child(2) div:nth-child(2) {
    padding: 47px 44px;
}

#features > div:nth-child(2) div:nth-child(1),
#features > div:nth-child(2) div:nth-child(3) {
    background-color: var(--primary);
    box-shadow: -2.572617292404175px 2.572617292404175px 0px 0px rgba(255, 255, 255, 1) inset;
}

#features > div:nth-child(2) div:nth-child(2) {
    box-shadow: 0px 28px 57px 0px rgba(190, 190, 190, 0.25);
}

.text-capitalize {
    text-transform: capitalize;
}