.main-content {
    flex-direction: column;
}

@media (orientation: portrait) {
    main {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    #text-section .mb-6 {
        margin-bottom: 16px;
    }

    #text-section p {
        font-size: 50px !important;
        line-height: 70px !important;
        font-weight: 700 !important;
    }

    h1 {
        font-size: 40px !important;
        line-height: 50px !important;
        font-weight: 500 !important;
    }
    
    h2 {
        font-size: 30px !important;
        line-height: 48px !important;
        font-weight: 500 !important;
    }
    
    h3 {
        font-size: 25px !important;
        line-height: 45px !important;
        font-weight: 400 !important;
    }
    
    h4 {
        font-size: 20px !important;
        line-height: 40px !important;
        font-weight: 400 !important;
    }
    
    h5 {
        font-size: 18px !important;
        line-height: 30px !important;
        font-weight: 400 !important;
    }
    
    h6 {
        font-size: 16px !important;
        line-height: 26px !important;
        font-weight: 400 !important;
    }
    
    p {
        font-size: 20px !important;
        line-height: 32px !important;
        font-weight: 400 !important;
    }
    
    #color-container {
        grid-template-columns: auto auto !important;
        grid-template-rows: auto auto auto auto !important;
    }
    
    #color-container > div:nth-child(4) {
        grid-column: 1 / 2 !important;
        grid-row: 3 / 4 !important;
    }
    
    #color-container > div:nth-child(5) {
        grid-column: 2 / 3 !important;
        grid-row: 3 / 4 !important;
    }
    
    #color-container > div:nth-child(6) {
        grid-column: 1 / 2 !important;
        grid-row: 4 / 5 !important;
    }
    
    #color-container > div:nth-child(7) {
        grid-column: 2 / 3 !important;
        grid-row: 4 / 5 !important;
    }
}