header > div {
    display: flex !important;
}

header h1 {
    margin-left: 40px !important;
}

header #burger-menu {
    margin-right: 40px;
}

header > ul {
    display: none !important;
}

#menu ul {
    width: 100%;
}

header #menu li {
    margin-left: 0 !important;
}