header > div {
    display: flex !important;
}

header > ul {
    display: none !important;
}

#menu ul {
    width: 100%;
}

header #menu ul li {
    margin-left: 0 !important;
    margin-bottom: 32px;
}

header #menu ul li:nth-child(6) {
    margin: 0 32px !important;
}

@media (max-width: 1133px) {
    header #burger-menu {
        margin-right: 120px;
    }
}

@media (orientation: portrait) {
    header h1 {
        margin-left: 40px !important;
    }
    
    header #burger-menu {
        margin-right: 40px;
    }
}