@import url('https://fonts.googleapis.com/css?family=Jost:300,400,500,600,700,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,900,900i');

:root {
    --white-color: #FDFDFD;
    --primary-1: hsl(191, 100%, 64%);
    --primary-2: #4FFFDF;
    --primary-3: #303030;
    --secondary-1: #4E4E4E;
    --secondary-2: #DEDEDE;
    --secondary-3: #F4F4F4;
    --secondary-4: #F9F9F9;
    --line-color: #C1C1C1;
    --jost: Jost, Helvetica;
    --open-sans: "Open Sans";
}

body {
    background-color: var(--white-color);
    font-family: var(--open-sans), poppins, Arial, roboto, Helvetica, sans-serif;
    color: var(--secondary-1);
    overflow-x: hidden;
    text-transform: capitalize;
}

.jost-font, a, button {
    font-family: var(--jost);
}

.hidden-animation {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translateY(-150px);
}

.hidden-animation.business {
    transition-delay: 200ms;
}

.hidden-animation.statistic {
    transition-delay: 400ms;
}

.hidden-animation.bar {
    transition-delay: 600ms;
}

.hidden-animation.earn {
    transition-delay: 800ms;
}

.hidden-down {
    transform: translateY(80px);
}

#features .hidden-down.delay-200 {
    box-shadow: 0px 20px 30px #00000010;
}

@media (min-width: 137rem) {
    #features .hidden-down.delay-200 {
        box-shadow: 0px 50px 70px #00000010;
    }
}

.icon-down {
    opacity: 0;
    transform: translateY(50px);
}

.reveal {
    opacity: 1;
    transform: translateY(0);
}

.hidden-right {
  transform: translateX(200px);
  transition: all 2s;
}

.reveal-crm {
  opacity: 1;
  transform: translateX(2rem);
}

@media (max-width: 64rem) {
  .hidden-right, .reveal-crm {
    transform: translateX(0);
  }
}

@media ((min-width: 64rem) and (max-width:80rem)) {
  .reveal-crm {
    transform: translateX(2rem);
  }
}

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: relative;
    z-index: 1001;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #000;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  
  #menu {
    z-index: 1000;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: #FDFDFDF2;
  }
  #menu ul {
    padding: 0;
  }
  #menu li {
    list-style: none;
  }
  #menu a {
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
  }

.cores-features-card {
    background: linear-gradient(276.48deg, rgba(244, 244, 244, 0.93) 14.41%, rgba(244, 244, 244, 0.93) 47.68%, rgba(255, 255, 255, 0.93) 93.27%);
    box-shadow: -2.57px 2.57px 0px 0px #FFFFFF inset;

backdrop-filter: blur(21.438478469848633px)
}

.fade-width-bar#lead::after {
    background-color: #49DDE2;
    width: 80%;
}

.fade-width-bar#qualification::after {
    background-color: #FFB545;
    width: 45%;
}

.fade-width-bar#validation::after {
    background-color: #6B7AFF;
    width: 90%;
}

.fade-width-bar#supply::after {
    background-color: #FF6F89;
    width: 60%;
}

.progress-bar::after,
.contact-card::after,
.bottom-line::after,
.client-logo-container.border-right::after {
  position: absolute;
  content: "";
}

.progress-bar::after {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0.5rem;
  transition: width 1s ease-in;
}

.contact-card::after {
  inset: 0;
  border-radius: 25px;
  padding: 1px;
  background-image: linear-gradient(137deg, #303030, #4E4E4E);
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.contact-card.variant::after {
  background-image: linear-gradient(280.22deg, #E0E0E0 5.64%, rgba(224, 224, 224, 0) 70.96%);
}

.bottom-line::after {
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-2);
  transition: all 2s;
}

.bottom-line.module::after {
  height: 1px;
}

.client-logo-container.border-right::after {
  right: 0;
  width: 2px;
  height: 0;
  background-color: var(--primary-2);
  transition: all 2s;
}

.client-logo-container.border-right:nth-child(odd)::after {
  top: 0;
}

.client-logo-container.border-right:nth-child(even)::after {
  bottom: 0;
}

.client-logo-container.border-right.fade-height::after {
  height: 100%;
}

.bottom-line:nth-child(even)::after {
  right: 0;
}

.bottom-line.fade-width::after {
  width: 100%;
}

.container-shadow {
  box-shadow: 25px 40px 60px 0px #00000010;
}
