@import url('https://fonts.googleapis.com/css?family=Jost:300,400,500,600,700,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,900,900i');

:root {
    --white-color: #FDFDFD;
    --primary-1: hsl(191, 100%, 64%);
    --primary-2: #4FFFDF;
    --primary-3: #303030;
    --secondary-1: #4E4E4E;
    --secondary-2: #DEDEDE;
    --secondary-3: #F4F4F4;
    --secondary-4: #F9F9F9;
    --line-color: #C1C1C1;
    --jost: Jost, Helvetica;
    --open-sans: "Open Sans";
}

body {
    background-color: var(--white-color);
    font-family: var(--open-sans), poppins, Arial, roboto, Helvetica, sans-serif;
    color: var(--secondary-1);
    overflow-x: hidden;
    text-transform: capitalize;
}

.jost-font, a, button {
    font-family: var(--jost);
}

.hidden-animation {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translateY(-150px);
}

.hidden-animation.business {
    transition-delay: 200ms;
}

.hidden-animation.statistic {
    transition-delay: 400ms;
}

.hidden-animation.bar {
    transition-delay: 600ms;
}

.hidden-animation.earn {
    transition-delay: 800ms;
}

.hidden-down {
    transform: translateY(80px);
}

.reveal {
    opacity: 1;
    transform: translateY(0);
}

.contact-card::after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 25px;
    padding: 1px;
    background-image: linear-gradient(137deg, #303030, #4E4E4E);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
}
